*{
    box-sizing: border-box;
    top: 0;
    left: 0;
}
body{
    overflow-x: hidden;
    background-color: rgb(0, 0, 0);
    background-size: 170px;
}
header{
    background-color: black;
    box-shadow: 10px 10px 20px rgb(7, 7, 7);
    height: auto;
}
header nav .logo-mobile{
    color: white;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    display: none;
}
header nav .mainMenu{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
header nav .mainMenu .logo{
    width: 80px;
    height: 80px;
}
header nav .mainMenu li{
    margin-right: 20px;
    color: white;
    font-size: 17px;
    text-decoration: none;
}
header nav .mainMenu a{
    transition: .3s ease all;
}
header nav .mainMenu a:hover{
    text-decoration: overline;
    color: white;
    transition: .3s ease all;
}
header nav .mainMenu li a{
    text-decoration: none;
}
header nav .mainMenu input.buscador-navbar{
    padding: 5px;
    border: none;
    border-radius: 30px;
    width: 170px;
}
header nav .mainMenu .search{
    text-decoration: none;
    color: white;
}
header nav .mainMenu .search:hover{
    text-decoration: none;
    color: white;
}
header nav .openMenu{
    font-size: 30px;
    color: white;
    margin: 20px 0px 30px 20px;
    display: none;
    cursor: pointer;
}
header nav .mainMenu .closeMenu,
header nav .mainMenu .icons i{
    font-size: 20px;
    display: none;
    cursor: pointer;
}
header nav .mainMenu .icons .fa-facebook:hover{color: red;}
header nav .mainMenu .icons .fa-twitter:hover{color: red;}
header nav .mainMenu .icons .fa-instagram:hover{color: red;}
header nav .mainMenu .icons .fa-whatsapp:hover{color: red;}
header nav .mainMenu .icons .fa-tiktok:hover{color: red;}

/* seccion buscar */
.seccionToggle{
    display: none;
    background-color: white; 
    text-align: center; 
    padding: 13px;
    height: auto;
}
.btnToggle{
    border: none; 
    background-color: red; 
    color: white; 
    font-size: 18px; 
    width: 100%; 
    padding: 7px;
}
/* Banner */
.title-banner-index{
    position: absolute; 
    z-index: 100; 
    top: 35%; 
    left: 1.5%;
    color: white;
    font-weight: normal;
    width: 100%;
    background-color: rgba(0,0,0,0.8);
    padding: 30px;
}
.columnas-promociones {
    top: 50%; 
    left: 1.5%; 
    position: absolute !important; 
    z-index: 100 !important; 
    background-color: rgba(0,0,0,0.8); 
    color: white;
    padding: 15px;
    padding-right: 40px;
}
.columnas-promociones .title-promociones-banner{
    color: rgb(255, 230, 0);
    
}
.columnas-promociones .valor-promociones-banner{
    color: rgb(255, 230, 0);
}
.columnas-promociones .envío-promociones-banner{
    color: rgb(255, 230, 0);
}
.columnas-promociones .btn-comprar-banner{
    border-radius: 50px;
    padding: 10px;
    border: 3px solid red;
    background-color: transparent;
    color: white;
    font-size: 15px;
    width: auto;
    transition: .4s ease all;
}
.columnas-promociones .btn-comprar-banner:hover{
    background-color: red;
    color: white;
    transition: .4s ease all;
}
/* container body */
.container-body{
    background-color: white;
    margin-top: 0;
    padding: 20px;
}
.title-mas-populares{
    font-weight: 600;
    color: black;
    font-size: 40px;
    text-align: center;
}
    /* Carrusel */
    .uPromociones{
        background-image: url(../img/IMG-sushi-2.jfif);
        background-size: cover;
        background-position: center center;
    }
   .title-uPromociones{
       font-size: 30px;
       font-weight: normal;
       margin: 5px 15px 20px 15px;
   }
/* formulario contacto */
.container-body .title-form{
    font-size: 25px;
    color: white;
    text-align: center;
}
.container-body .title-contactanos{
    text-align: center;
    font-size: 35px;
    font-weight: 600;
}
/* Carrito de compras */
.contenedor-metodos-pago .btn-pago:hover{
    background-color: red;
    color: white;
    transition: .4s ease all;
}
/* Carta de promociones */
.btn-filtrar{
    border: 2px solid red; 
    border-radius: 5px; 
    background-color: transparent; 
    color: black; 
    margin-left: 10px;
    width: 70px; 
    padding: 6px;
    transition: .4s ease all;
}
.btn-xProducto{
    width: 100%; 
    border: none;
    border-radius: 5px; 
    background-color: red; 
    color: white;
    padding: 10px;
    transition: .4s ease all;
}
.card{
    margin-bottom: 20px;
}
/* @Medias */
@media screen and (max-width: 1600px){
    .columnas-promociones{
        top: 50% !important;
    }
}
@media screen and (max-width: 1300px){
    .columnas-promociones{
        top: 53% !important;
    }
}
@media screen and (max-width: 641px){
    .columnas-promociones{
        top: 61% !important;
    }
}
@media (max-width: 991px){
    .contenedor-metodos-pago{
        margin-top: 25px;
    }
}
@media screen and (max-width: 600px){
    .input-buscar{
        width: auto !important;
    }
    .seccionToggle{
        height: auto;
    }
}
@media (max-width: 991px){
    header nav .mainMenu{
        height: 100vh;
        position: fixed;
        top: -100px;
        right: 0;
        left: 0;
        z-index: 200;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(0,0,0,0.995);
        transition: .3s ease all;
        display: none;
    }
    header nav .mainMenu .closeMenu{
        display: block;
        position: absolute;
        top: 20px !important;
        left: 20px !important;
        color: white;
        font-style: 40px !important;
    }
    header nav .openMenu{
        display: block;
    }
    header nav .mainMenu .icons i{
        display: inline-block;
        padding: 5px;
        color: white;
        font-size: 30px;
        justify-content: center;
        align-items: center;
    }
    header nav .logo-mobile{
        display: unset;
        float: right;
        margin-right: 20px;
        font-size: 25px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
    }
    header nav{
        align-items: center;
    }
    header nav .mainMenu a li{
        margin-bottom: 10px;
        font-size: 30px !important;
        text-transform: uppercase;
    }
    header nav .mainMenu a:hover{
        text-decoration: none;
    }
    header nav .mainMenu .logo{
        display: none;
    }
    .columna-registro{
        padding-top: 60px !important;
    }
    header{
        padding: 1px 0px 1px 0px;
    }
    main section .title-banner-index{
        font-size: 25px !important;
        top: 20%;
    }
    main section .columnas-promociones{
        top: 35% !important; 
    }
    .title-promociones-banner{
        font-size: 25px;
    }
    .valor-promociones-banner{
        font-size: 23px;
    }
    .btn-comprar-banner i,
    .info-btn-comprar-banner{
        font-size: 13px;
    }
    .envío-promociones-banner{
        font-size: 14px;
    }
    .form-contacto{
        margin: 0px !important;
    }
    .title-mas-populares{
        font-size: 28px;
    }
    .title-uPromociones{
        font-size: 22px;
    }
    .title-contactanos{
        font-size: 20px !important;
    }
    .title-form{
        font-size: 16px !important;
        margin-bottom: 20px !important;
    }
    .title-mapa{
        font-size: 20px;
    }
    .contenedor-pedidos .title-pedido{
        font-size: 25px !important;
        font-weight: normal !important;
    }
    .contenedor-pedidos .btn-cancelar-pedido{
        font-size: 13px;
    }
    .seccion-pedido{
        margin: 13px 16px 15px 15px !important;
    }
    .title-metodo-pago{
        font-size: 20px !important;
    }
    .info-metodo-pago{
        padding: 45px !important;
        font-size: 13px;
    }
    .title-promocion-comprar{
        font-size: 20px !important;
    }
    .valor-subtotal{
        font-size: 20px;
    }
    .title-subtotal-pagar{
        font-size: 23px;
    }
    .descuento{
        font-size: 23px;
    }
    .total-pagar{
        font-size: 23px;
    }
    .title-carta{
        font-size: 18px;
    }
    .title-filtrar{
        font-size: 15px;
    }
    .card{
        margin: 0px -50px 20px -50px;
    }
    .img-loginRegister{
       display: none;
    }
    .columna-login{
        padding: 150px 50px 150px 50px !important;
    }
    .btn-registrarse{
        margin-top: 40px;
    }
    .title-aboutUs{
        font-size: 30px;
    }
    .col-info1{
        margin-top: 20px;
    }
    .col-info1 .texto-info1{
        padding: 50px 20px 50px 20px !important;
    }
    .col-info2{
        margin-top: 20px;
        margin-bottom: 25px;
    }
    .col-info2 .texto-info2{
        padding: 50px 20px 50px 20px !important;
    }
    .imagen-aboutUs2{
        margin-bottom: 80px !important;
    }
    .columna-trabaja{
        padding: 50px 0px 50px 0px !important;
    }
    .form-contacto{
        max-height: 520px !important;
        overflow-y: auto;
    }
    .card .title-promocion-x{
        font-size: 15px;
    }
    .card p{
        font-size: 13px;
        padding: 0px 40px 0px 40px;
    }
    .card .valor-x-producto{
        color: red;
        font-size: 25px;
    }
    .contenedor-logo img{
        display: none;
    }
}
#promotions-banner a p h2 {
    text-align: justify !important;
}