@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@1,300&family=Righteous&display=swap');

button{
    font-family: 'Otomanopee One', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration: none;
    letter-spacing: -0.5px;
}
.li-header, a{
    font-weight: normal;
    font-size: 14px !important;
    color: white;
    text-decoration: none;
    letter-spacing: -0.5px;
}
header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 1%;
    background-color: rgb(33, 33, 33);
    z-index: 1000;
}
header nav ul{
    list-style: none;
}
header nav ul li{
    display: inline-block;
    margin-right: 9px;
    padding-top: 20px;
}
header nav ul li a:hover{
    text-decoration: none;
    color: red;
}
.banner{
    width: 100%; 
    height: 700px;
    background-position: right top !important; 
    background-size: cover !important;
    background-repeat: no-repeat !important;
}
.banner .title-banner{
    position: absolute;
    top: 25%;
    left: 130px;
    margin: auto auto auto auto;
    text-align: left !important;
}
.banner .btnDescargarBanner{
    color: black; 
    border: 2px solid rgb(255, 0, 0); 
    border-radius: 0px 20px 0px 20px; 
    padding: 15px 20px;  
    background-color: rgb(255, 0, 0);
    width: 200px; 
    margin-top: 50px;
    letter-spacing: 1px;
    color: white;
}
.section-index{
    background-color: rgb(0, 0, 0);
    padding: 50px;
}
.section-x-anime{
    background-color: rgb(30, 30, 30);
    padding: 50px;
    margin-top: 60px;
}
.section-catalogo-anime,
.section-catalogo-noticias{
    background-color: rgb(13, 13, 13);
    padding: 50px;
}
.search-box{
    position: fixed;
    top: -200%;
    width: 100%;
    margin: auto;
    background-color: rgb(33, 33, 33);
    padding: 30px 20px;
    border-radius: 3px;
    z-index: 700;
}
.container-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.temporada{
    color: black;
    padding: 3px;
    opacity: 0;
    width: 100%;
    text-align: center;
}
.temporadaN{
    color: black;
    padding: 3px;
    opacity: 0;
    width: 100%;
    text-align: center;
}
.contenido-catalogo-noticias .temporada{
    opacity: 1;
    color: white;
    font-family: 'Bebas Neue', cursive;
}
.contenido-catalogo-noticias .boxN .temporadaN{
    opacity: 1;
    font-family: 'Bebas Neue', cursive;
    text-align: left !important;
}
.contenido-catalogo-noticias .boxN:hover .btnLeerMas{
    opacity: 1 !important;
    transition: .3s ease-in-out !important;
}
.box:hover .temporada{
    opacity: 1;
}
.contenedor-socials{
    position: fixed;
    z-index: 500;
    top: 28%;
    left: 0;
    height: 300px;
    width: 100px;
    margin: 50px 0px;
}
.contenedor-socials ul{
    list-style: none;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin-left: 0;
    width: 100px;
    align-items: flex-start;
}
.contenedor-socials ul li{
    position: relative;
    transform: translateX(-190px);
    background-color: white;
    padding: 5px 0;
    width: 200px;
    transition: .3s ease all;
    border-radius: 50px;
    margin: 7px 0px 7px 0px;
}
.contenedor-socials ul li:hover{
    transform: translateX(-150px);
    transition: .3s ease all;
}
.contenedor-socials ul li a{
    color: black;
    float: right;
    padding: 10px;
    margin-right: 10px;
    font-size: 17px;
}
.btn-mas-animes:hover,
.btn-mas-peliculas:hover{
    width: 21% !important;
    transition: .2s ease all !important;
}
.btnDescargarXAnime:hover{
    color: red !important;
}
/* SCROLLBAR CHANGE */
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    border: 5px solid black;
    background-color: rgb(55, 55, 55);
}
::-webkit-scrollbar-thumb{
    background-color: red;
    border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover{
    background-color: rgb(174, 0, 0);
}
/* SCROLLBAR CHANGE END */
.search{
    color: white; 
    margin-left: 10px;
    transition: .4s ease all;
}
.search:focus{
    color: red !important;
    transition: .2s ease all;
}
#btnSolicitudBox{
    color: white; 
    transition: .4s ease all;
}
#btnSolicitudBox:focus{
    color: red !important;
    transition: .2s ease all;
    text-decoration: overline red;
}
#btnSolicitudBox:hover{
    color: red;
}
.btnCatalogo{
    color: white;
    transition: .4s ease all;
}
.btnCatalogo:focus{
    color: red !important;
    transition: .2s ease all;
}
.btnCatalogo:hover{
    color: red;
}
.card-anime-index:hover p{
    color: red !important;
}
.card-anime-catalogo:hover p{
    color: red !important;
}
.card-anime-catalogo:hover .p1{
    color: white !important;
    text-decoration: none !important;
}
.card-anime-catalogo:hover .content-hover{
    opacity: 1 !important;
    width: auto !important;
    text-decoration: none !important;
}
.section-catalogo-noticias .card-anime-catalogo:hover .content-hover{
    width: 100% !important;
    text-decoration: none !important;
}
.section-catalogo-noticias .card-anime-catalogo:hover p{
    color: orange !important;
}
.section-catalogo-noticias .card-anime-catalogo:hover .p1{
    color: white !important;
}
.btnDescargarAnime:hover{
    background-color: white !important;
    color: black !important;
    transition: .3s ease-in-out !important;
}
.btnDescargarAnime .iconDownload{
    font-size: 25px;
}
.txtXN,
.txtXNT{
    font-family: 'Bebas Neue', cursive;
}
.btnLeerMasXN:hover{
    transition: .4s ease-in-out !important;
    background-color: red !important;
    color: white !important;
}
.btnLeerMasXN:hover .iXN{
    color: white !important;
    transition: .4s ease-in-out !important;
}
.contenedor-form-solicitud input::placeholder{
    transition: .3s ease-out !important;
}
.contenedor-form-solicitud input:focus::placeholder{
    transform: translateY(-20px);
    transition: .3s ease-out;
    font-size: 12px;
}
.contenedor-form-solicitud input:focus{
    border: none !important;
    border-bottom: 1px solid rgb(154, 154, 154) !important;
}
.season:hover,
.year:hover{
    cursor: default !important;
}
/* ŒMEDIAS */
@media (max-width: 570px){
    .card-content-pelicula button{
        font-size: 22px !important;
    }
    .contenedor-form-solicitud input:focus::placeholder{
        transform: translateY(0px);
    }
    .index-container .container-box a{
        font-size: 11px !important;
    }
    .card-anime-index .card-image img{
        height: 250px !important;
    }
    header nav ul .btnCatalogo,
    header nav ul .btnSolicitudBox{
        display: none;
    }
    .btnSuscribe{
        margin-left: 0px !important;
    }
    header{
        box-shadow: none;
        padding: 5px 0px 5px 4% !important;
    }
    header nav ul li{
        display: inline-block;
        margin-right: 0px !important;
        padding-top: 0px !important;
    }
    nav{
        display: none !important;
    }
    #btnSearchMobilE{
        margin-right: 4% !important;
    }
    .search{
        display: none !important;
    }
    .search:focus{
        color: white !important;
    }
    .title-banner{
        text-align: left !important;
        top: 15% !important;
        left: 10px !important;
    }
    .title-banner .pIndexSinopsis{
        display: none !important;
    }
    .title-banner h1{
        font-size: 25px !important;
    }
    .title-banner h4{
        font-size: 12px !important;
    }
    .banner{
        height: 330px !important;
        background-size: cover !important;
        background-position: center center !important;
    }
    .btnDescargarBanner{
        font-size: 10px !important;
    }
    .card-content-pelicula h6{
        font-size: 12px !important;
    }
    .card-content-pelicula p{
        font-size: 9px !important;
    }
    .card-content-pelicula button{
        font-size: 11px !important;
    }
    .card-pelicula-index{
        height: auto !important;
        margin-bottom: 10px !important;
    }
    .card-pelicula-index p{
        font-size: 12px !important;
    }
    .card-pelicula-index h6{
        font-size: 14px !important;
    }
    .solicitud-box{
        width: auto !important;
        background-color: rgba(0, 0, 0, 0.930) !important;
    }
    .suscribe-box{
        width: 100% !important;
        top: 2% !important;
    }
    .titleSuscribeBox{
        font-size: 27px !important;
        font-weight: bold;
        font-family: 'Bebas Neue', cursive !important;
    }
    .titleDatosSuscribe{
        margin-top: 10px !important;
    }
    .contenedor-form-solicitud input{
        height: 30px !important;
    }
    .comentarios{
        margin-top: 50px !important;
    }
    .btnMobileMenu{
        display: unset !important;
    }
    .btnMobileSearch{
        display: unset !important;
    }
    .irArriba{
        bottom: 6% !important;
    }
    .catalogo-container .container{
        margin: 0% !important;
        padding: 0% !important;
    }
    .catalogo-container h5{
        font-size: 16px !important;
    }
    #btnMenuMobilE{
        display: unset !important;
        font-size: 20px !important;
    }
    #btnSearchMobilE{
        display: unset !important;
        font-size: 20px !important;
    }
    header nav ul li{
        margin-right: 0px !important;
    }
    .download-box{
        width: 100% !important;
        margin: auto !important;
        right: auto !important;
        margin-top: 20px !important;
    }
    .container-box .item-a .box{
        width: 160px !important;
        height: 270px !important;
    }
    .btn-title{
        font-size: 9px !important;
    }
    .card-anime-catalogo .card-image img{
        height: 280px !important;
    }
    .card-anime-catalogo{
        height: 280px !important;
    }
    .card-anime-catalogo .card-image p{
        font-size: 13px !important;
    }
    .card-anime-catalogo .card-image h6{
        font-size: 12px !important;
    }
    .container-capitulos-nuevos .card-anime-catalogo{
        margin-bottom: 60px !important;
        height: 120px !important;
    }
    .container-capitulos-nuevos .card-anime-catalogo .card-image img{
        height: 120px !important;
    }
    .container-peliculas{
        margin-top: 15px !important;
    }
    .content-hover{
        opacity: 1 !important;
        width: auto !important;
        height: 3vh !important;
    }
    .section-catalogo-noticias .content-hover{
        width: auto !important;
        height: 4.5vh !important;
    }
    .section-catalogo-noticias .content-hover p{
        font-size: 17px !important;
    }
    .btnDescargarAnime .iconDownload{
        font-size: 23px;
        margin-top: 5px;
    }
    .card-anime-x-anime img{
        height: 300px !important;
    }
    .card-anime-x-anime{
        margin-bottom: 40px !important;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
    .fila-download-title h2{
        font-size: 20px;
    }
    .sinopsis-text{
        font-size: 11px !important;
    }
    .sinopsis-title{
        font-size: 14px !important;
    }
    .comentarios-title{
        font-size: 14px !important;
    }
    .container{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .section-index{
        padding: 0px 15px;
    }
    .section-x-anime,
    .section-catalogo-noticias,
    .section-catalogo-anime{
        padding: 40px 10px;
    }
    .section-catalogo-anime{
        margin-top: -40px !important;
    }
    .section-x-noticia{
        padding: 40px 15px !important;
        margin-top: 20px !important;
    }
    .section-x-noticia .temporada, 
    .section-x-noticia .temporadaN{
        padding: 0px 30px 0px 10px !important;
    }
    .section-x-noticia .temporada{
        font-size: 20px !important;
        padding-right: 65px !important;
    }
    .container-capitulos-nuevos .card-image img{
        height: 240px !important;
    }
    .detalles .p-detalles, .title-detalles{
        text-align: center;
    }
    .detalles h6{
        font-size: 18px;
    }
    .contentMobileMenuBox h6{
        font-size: 13px !important;
    }
    .title-index-animes-nuevos,
    .title-index-capitulos-nuevos,
    .title-index-movies,
    .title-catalogo-movies,
    .title-catalogo-animes,
    .noticias-x-anime{
        font-size: 22px !important;
        letter-spacing: 1px;
    }
    .title-catalogo-animes{
        padding: 10px 10px 0px 10px !important;
    }
    .contenido-catalogo-noticias .card-anime-catalogo{
        margin-bottom: 50px !important;
    }
    .boxN{
        width: 430px !important;
    }
    .boxN p{
        padding: 0px 20px !important;
    }
    .boxN .temporada{
        font-size: 25px !important;
    }
    .btnLeerMas{
        opacity: 1 !important;
    }
    .imgXN{
        height: 55% !important;
        width: 100% !important;
    }
    .btnLeerMasXN{
        float: left !important;
    }
    .txtXNT{
        font-size: 23px !important;
    }
    .x-noticia-container .contenido-noticias{
        padding: 20px 15px !important;
    }
    .x-noticia-container h6{
        font-size: 16px !important;
        padding: 7px;
    }
    .title-x-noticia{
        font-size: 30px !important;
    }
    .x-noticia-container .banner{
        height: 300px !important;
        background-position: center center !important;
    }
    .x-noticia-container .banner .title{
        padding: 20% 20px 0px 20px !important;
    }
    .x-noticia-container .container{
        padding-top: 30px !important;
    }
    .fuente{
        font-size: 16px !important;
    }
    .subtitleXN{
        font-size: 10px !important;
    }
    .section-banner-x-anime .banner{
        height: auto !important;
        
    }
    .section-banner-x-anime .title-x-anime{
        display: none;
    }
    .section-banner-x-anime .title-anime-x-anime,
    .title-anime-index{
        font-size: 27px !important;
    }
    .section-banner-x-anime .title-generos{
        font-size: 11px !important;
    }
    .section-banner-x-anime .x-anime-sinopsis{
        font-size: 12px !important;
    }
    .btnDescargarBanner{
        font-size: 11px !important;
        padding: 14px 12px !important;
        margin-bottom: 0px !important;
    }
    .btn-mas-animes,
    .btn-mas-peliculas{
        font-size: 17px !important;
        margin-top: 5px !important;
        border-radius: 0px 0px 20px 20px !important;
        padding: 8px 10px !important;
        width: 100% !important;
    }
    .btn-mas-animes:hover,
    .btn-mas-peliculas:hover{
        font-size: 14px !important;
        margin-top: 5px !important;
        border-radius: 0px 0px 20px 20px !important;
        padding: 8px 10px !important;
        width: 100% !important;
    }
    .section-banner-x-anime .card-anime-catalogo{
        width: 50% !important;
        justify-content: center !important;
    }
    .section-banner-x-anime .btnEstadoXAnime{
        width: 50% !important;
    }
    .row-banner-x-anime{
        padding: 160px 10px !important;
    }
    .section-mas-ver{
        padding: 4px 0px 4px 25px !important;
        margin: 0px !important;
        width: 100% !important;
        margin-top: -150px !important;
    }
    .section-mas-ver .contenido-catalogo-noticias{
        padding: 0px !important;
        margin: 0px !important;
        width: 100% !important;
    }
    .section-mas-ver .ul-slider{
        padding: 0px !important;
    }
    .season, 
    .year{
        font-size: 12px !important;
        font-weight: normal !important;
    }
    .subtitle-banner .btnDescargarBanner{
        display: none !important;
    }
    .boton-mobile-descargar{
        display: unset !important;
    }
    .mas-buscados h4{
        margin-bottom: 15px !important;
    }
    #closeSearchBoxMobile{
        font-size: 20px !important;
    }
    .icon{
        font-size: 17px !important;
    }
    #btnCloseSuscribeBox{
        margin-top: 10px;
    }
    ::-webkit-scrollbar{
        width: 2px !important;
    }
}
@media (max-width: 450px){
    .card-anime-index .card-image img{
        min-width: auto !important;
    }

}
@media (max-width: 767px){
    .contenedor-socials{
        display: none !important;
    }
    .contenedor-bakanime2022{
        display: none !important;
    }
    .btnSuscribe{
        display: none !important;
    }
}
@media (max-width: 600px){
    .btn-mas-animes{
        width: 100% !important;
    }
}
