<!DOCTYPE html>
<html lang="es-ES">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Static/css/all.css">
    <link rel="stylesheet" href="../Static/css/all.min.css">
    <link rel="stylesheet" href="../Static/css/bootstrap.min.css.map">
    <link rel="stylesheet" href="../Static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../Static/css/fonts.css">
    <link rel="stylesheet" href="../Static/css/fukusuke.css">
    <title>Fukusuke Sushi</title>
</head>
<body>
    <section class="seccionToggle">
        <div class="wrap">
            <input class="input-buscar" type="text" name="" id="" placeholder="Buscar promoción..." required style="width: 700px;">
            <button class="btn-search" style="border: none; background-color: red; color: white; 
                width: 90px; padding: 3px; border-radius: 50px;">Buscar
            </button>
        </div>
    </section>
    <a href="#" id="btnToggle"><button class="btnToggle"><i class="fas fa-search" style="margin-right: 5px;"></i> Busca una promoción</button></a>
    <header>
        <nav>
            <h1 class="logo-mobile">Fukusuke Sushi</h1>
            <div class="openMenu"><i class="fa fa-bars"></i></div>
            <ul class="mainMenu">
                <a href="../index.html"><li>Inicio</li></a>
                <a href="../Templates/carta.html"><li>Carta</li></a>
                <a href="../Templates/carrito-compra.html"><li>Carrito</li></a>
                <a href="../index.html"><li><img class="logo" src="../Static/img/LOGO-fukusuke.png" alt=""></li></a>
                <a href="../Templates/login-register.html"><li>Acceder</li></a>
                <a href="../Templates/sobre-nosotros.html"><li>Sobre Nosotros</li></a>
                <a href="../index.html #contacto"><li>Contacto</li></a>
                <div class="closeMenu"><i class="fa fa-times"></i></div>
                <span class="icons">
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-whatsapp"></i>
                    <i class="fab fa-tiktok"></i>
                </span>
            </ul>
        </nav>
    </header>
    <main>
        <div class="container" style="background-color: white; padding: 30px;">
            <h1 class="title-aboutUs" style="text-align: center; padding: 20px;">Conoce más sobre nosotros</h1>
            <div class="container">
                <hr class="divider" style="border: 1px solid black;">
                <br>
                <div class="row">
                    <div class="col-lg-6 col-12">
                        <img src="../Static/img/LOGO-fukusuke.png" alt="" style="width: 100%; border: 4px solid black;">
                    </div>
                    <div class="col-lg-6 col-12 col-info1" style="padding: 10px 20px 10px 20px; border: 4px solid black;">
                        <div class="text-center texto-info1" style="padding: 130px 120px 130px 120px;">
                            <h3 style="font-weight: 600;">¿Quienes somos?</h3>
                            <br><br>
                            <p style="font-weight: normal;">
                                Fukusuke Sushi es una pequeña pyme de alimentos
                                dedicada a la elaboración de comida japonesa, más
                                especificamente Sushi. Su casa central está ubicada 
                                en la comuna de Maipú, Santiago de Chile.
                            </p>
                            <br><br>
                            <hr class="divider" style="border: 1px solid rgb(179, 179, 179);">
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 20px;">
                    <div class="col-lg-6 col-12 col-info2" style="padding: 10px 20px 10px 20px; border: 4px solid black;">
                        <div class="text-center texto-info2" style="padding: 60px 120px 60px 120px;">
                            <h3 style="font-weight: 600;">Nuestros inicios</h3>
                            <br><br>
                            <p style="font-weight: normal;">
                                Fukusuke Sushi tiene sus inicios en el año
                                2016, comenzó como un local de hogar, en 
                                dónde se despachaban como máximo 10 ordenes diarias.
                                Hoy en día, pasado 4 años, se despachan más de 60
                                ordenes por día.
                            </p>
                            <p style="font-weight: normal;">
                                Inicialmente, contábamos con una sola sucursal ubciada en
                                la comuna de Maipú, hoy contamos con 4 locales en la Región
                                Metropolitana, en las comunas de Maipú, San Bernardo, Cerrillos y
                                Santiago.
                            </p>
                            <br><br>
                            <hr class="divider" style="border: 1px solid rgb(179, 179, 179);">
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <img class="imagen-aboutUs2" src="../Static/img/IMG-aboutUS.jpg" alt="" style="width: 100%; height: 100%; border: 4px solid black;">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-12 columna-trabaja" style="border: 4px solid black; padding: 50px 150px 50px 150px;">
                        <div class="text-center" style="padding: 0px 50px 0px 50px;">
                            <h2>Trabaja con nosotros</h2>
                            <br>
                            <p style="font-weight: normal;">
                                Si deseas superarte como persona y/o profesional y crees
                                que puedes aportar tu experiencia en este rubro, te invitamos
                                a contactarnos para organizar una entrevista para conocerte.
                            </p>
                            <p style="font-weight: normal;">
                                Los contáctos a los cuales puedes concurrir son los siguientes:
                            </p>
                            <br>
                            <h5>Redes sociales</h5>
                            <a href="#"><i class="fab fa-facebook-square" style="font-size: 30px; color: black;"></i></a>
                            <a href="#"><i class="fab fa-instagram-square" style="font-size: 30px; color: black;"></i></a>
                            <a href="#"><i class="fab fa-tiktok" style="font-size: 30px; color: black;"></i></a>
                            <a href="#"><i class="fab fa-twitter-square" style="font-size: 30px; color: black;"></i></a>
                            <a href="#"><i class="fab fa-whatsapp-square" style="font-size: 30px; color: black;"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <br>
    <div class="text-center">
        <button id="btnFooter" style="width: 100%; padding: 10px; border: none;
            background-color: red; color: white;">Derechos de autor
        </button>
    </div>
    <footer>
        <div class="row footer" style="background-color: black; padding: 30px; display: none; max-width: 103.3%;">
            <div class="col-12">
                <div class="text-center">
                    <img src="../Static/img/LOGO-fukusuke.png" alt="" style="width: 150px; height: 150px;">
                    <br><br>
                    <p style="color: white;">Todos los derechos reservados. @Copyright 2021.</p>
                </div>
            </div>
        </div>
    </footer>
    
    <script src="https://kit.fontawesome.com/64d58efce2.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
    <script src="../js/buscador.js"></script>
    <script src="../js/hamburguer.js"></script>
    <script src="../js/footer.js"></script>
</body>

</html>